.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.photos-by-rover {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  justify-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.main-container aside {
  padding: 15px;
  flex: 1;
}

.main-container section {
  padding: 15px;
  flex: 2;
}
